# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# Jupyter Notebook
.ipynb_checkpoints/

# IDE settings
.vscode/
.idea/

# Operating-system files
.DS_Store
Thumbs.db

# Raster auxiliary files
*.aux
*.ovr

# Test cache
.pytest_cache/
